<header class="main-header">
  <div class="container header-container">
    <div class="logo-container">
      <a href="../../templates/home.html" class="logo">GAMO</a>
    </div>
    <div class="auth-buttons">
      <a href="../../templates/sesion/inicio_sesion_inquilino.html" class="btn btn-login">Iniciar Sesión</a>
      <a href="../../templates/registro/registrar_inquilino.html" class="btn btn-register">Registrarse</a>
    </div>
    <button class="mobile-menu-toggle" aria-label="Menú">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
  
  <!-- Menú móvil desplegable -->
  <div class="mobile-menu">
    
    <div class="mobile-auth-buttons">
      <a href="../../templates/sesion/inicio_sesion_inquilino.html" class="btn btn-login">Iniciar Sesión</a>
      <a href="../../templates/registro/registrar_inquilino.html" class="btn btn-register">Registrarse</a>
    </div>
  </div>
</header> 